.container-fluid {
    padding-top: 50px;
    padding-left: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.delete-icon {
    content: url("../media/delete.png");
    margin: auto;
    cursor: pointer;
}

.add-icon {
    content: url("../media/add.png");
    margin: auto;
    cursor: pointer;
}