aiofiles==0.4.0
aniso8601==7.0.0
astroid==2.3.3
async-exit-stack==1.0.1
async-generator==1.10
attrs==19.3.0
autobahn==19.11.2
Automat==0.8.0
autopep8==1.5
awscli==1.18.20
beautifulsoup4==4.8.2
binance==0.3
boto3==1.12.17
botocore==1.15.20
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
dateparser==0.7.2
dnspython==1.16.0
docutils==0.15.2
email-validator==1.0.5
fastapi==0.52.0
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
h11==0.9.0
httptools==0.1.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.0
pandas==0.25.3
pkg-resources==0.0.0
promise==2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
pydantic==1.4
PyHamcrest==1.9.0
pylint==2.4.4
pyOpenSSL==19.1.0
python-binance==0.7.4
python-dateutil==2.8.1
python-dotenv==0.10.3
python-multipart==0.0.5
pyti==0.2.2
pytz==2019.3
PyYAML==5.3
regex==2020.1.8
requests==2.22.0
rsa==3.4.2
Rx==1.6.1
s3transfer==0.3.3
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
starlette==0.13.2
ta==0.5.11
TA-Lib==0.4.17
tqdm==4.41.1
Twisted==19.10.0
txaio==18.8.1
typed-ast==1.4.0
tzlocal==2.0.0
ujson==2.0.1
urllib3==1.25.7
uvicorn==0.11.3
uvloop==0.14.0
websockets==8.1
wrapt==1.11.2
zope.interface==4.7.1
